waitress==1.4.4
Flask==1.1.1
flask_cors==3.0.8
datetime==4.3
requests==2.22.0
mongoengine==0.18.2
mongomock==3.18.0
twilio==6.37.0
gunicorn==20.0.4
GoogleNews==1.5.5
werkzeug==0.15.4
pandas==0.24.2
xlrd==1.2.0
XlsxWriter==1.1.8
numpy==1.16.4